
{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead) -%}

{%- endmacro -%}
<div id="header-html" class="hidden-pdf">
</div>


<div class="row">
	<div class="col-xs-12 text-center titleAnaesthesia">
		<p style="font-size: 21px;"><b>{{ doc.company or ''}}</b></p><br>
		{% set company = frappe.get_doc("Company", doc.company) %}
		{%- if company.company_reg_no -%}
		<p text-align="center" style="font-size: 14px; margin-top: 5px;">{{ _("UEN NO") }}: {{ frappe.db.get_value("Company", doc.company, "company_reg_no") or ''}}
		{%- endif -%} 
		
		{%- if company.address -%}
		<p class="upper" style="font-size: 14px;">{{ frappe.db.get_value("Company", doc.company, "address") or ''}}
		{%- endif -%}&nbsp;
		{{ frappe.db.get_value("Company", doc.company, "country") or ''}}&nbsp; {%- if company.postal_code -%}- &nbsp;{{ frappe.db.get_value("Company", doc.company, "postal_code") or ''}} 
		{%- endif -%}
		</p></p>
		<p>
		{%- if company.phone_no -%}
		&nbsp;<b>{{ _("T") }}:</b> {{ frappe.db.get_value("Company", doc.company, "phone_no") or ''}}  
		{%- endif -%} 
		{%- if company.contact_no -%}
		&nbsp;<b>{{ _("T") }}:</b> {{ frappe.db.get_value("Company", doc.company, "contact_no") or ''}}  
		{%- endif -%} 
		{%- if company.fax -%}
		 &nbsp;| &nbsp;<b>{{ _("F") }}:</b>  {{ frappe.db.get_value("Company", doc.company, "fax") or ''}} 
		 {%- endif -%}
		 {%- if company.email -%}
		&nbsp;| &nbsp;<b>{{ _("E") }}:</b> {{ frappe.db.get_value("Company", doc.company, "email") or ''}}</p>
		{%- endif -%} 
	</div>
	 
</div>
<br>
<p><hr style=" border: 2px solid #808080 !important;"></p>
<div class="row">
	<div class="col-xs-5 text-left">
	</div>
	<div class="col-xs-7 text-left">
		<div >
			<table style="line-height: 25px; width: 100%;" >
				{%- if company.gst=="Yes" -%}
				<tr>
					<td style="text-align: right;width: 70%;font-size: 14px">{{ _("GST.REG.NO.") }} </td>
					<td style="text-align: right;width: 30%;font-size: 14px">{{ frappe.db.get_value("Company", doc.company, "company_reg_no") or ''}}</td>
				</tr>
				{%- endif -%} 
				<tr>
					<td> </td>
					<td style="font-size: 20px; font-weight: bold;text-align: right;">INVOICE</td>
				</tr>
			</table>
	   	</div>
	</div>
</div>
<div class=" row doctorAddress">
	<div class="col-xs-5">
			<table style="width: 100%;">
			{% set patient = frappe.get_doc("Patient", doc.patient) %}
			{% if frappe.db.get_value("Case", doc.case, "is_patient_billable") or '' %}
				<tr style="font-size: 16px">
					<td >
					{{ frappe.db.get_value("Patient", doc.patient, "full_name") or ''}}							
					</td>
				</tr>
				<tr style="font-size: 16px">
					<td class="upper">{{ frappe.db.get_value("Patient", doc.patient, "address") or ''}}
									
					</td>
				</tr>
				<tr style="font-size: 16px">
					<td class="upper">{{ frappe.db.get_value("Patient", doc.patient, "country") or ''}}
					{%- if patient.postal_code -%} - {{ frappe.db.get_value("Patient", doc.patient, "postal_code") or ''}}{%- endif -%} </td>
				</tr>
				{% elif frappe.db.get_value("Case", doc.case, "is_surgeon_billable") or '' %}
				{% set surgeon = frappe.get_doc("Surgeon", doc.surgeon) %}
				<tr style="font-size: 16px">
					<td >
					
					{{frappe.db.get_value("Surgeon", doc.surgeon, "clinic_name") or ''}}						
					</td>
				</tr>
				<tr style="font-size: 16px">
					<td class="upper">{{ frappe.db.get_value("Surgeon", doc.surgeon, "address") or ''}}
									
					</td>
				</tr>
				<tr style="font-size: 16px">
					<td class="upper">{{ frappe.db.get_value("Surgeon", doc.surgeon, "country") or ''}}{%- if surgeon.postal_code -%} - {{ frappe.db.get_value("Surgeon", doc.surgeon, "postal_code") or ''}}{%- endif -%}</td>
				</tr>
				{% else %}
				{% set hospital = frappe.db.get_value("Case", doc.case, "hospital") %}
				{% set hos = frappe.get_doc("Hospital", hospital) %}
				<tr style="font-size: 16px">
					<td >
					{{ frappe.db.get_value("Case", doc.case, "hospital") or ''}}							
					</td>
				</tr>
				<tr style="font-size: 16px">
					<td class="upper">

					{{ frappe.db.get_value("Hospital", frappe.db.get_value("Case", doc.case, "hospital"), "address") or ''}}
									
					</td>
				</tr>
				<tr style="font-size: 16px">
					<td class="upper">

					{{ frappe.db.get_value("Hospital", frappe.db.get_value("Case", doc.case, "hospital"), "country") or ''}} {%- if hos.postal_code -%} -
					{{ frappe.db.get_value("Hospital", frappe.db.get_value("Case", doc.case, "hospital"), "postal_code") or ''}} {%- endif -%}
					</td>
				</tr>
				
				{% endif %}
				

			
			</table>
	</div>
	<div class="col-xs-7 ">
		<table style="width:100%">
			<tr style="font-size: 16px">
				<td></td>
				<td style="font-weight: bold;width: 32%;">{{ _("DATE") }}</td>
				<td style="text-align: center;">:</td>
				<td class="upper" style="text-align: right;width: 48%;">{{ frappe.utils.formatdate(doc.posting_date, 'dd MMM YYYY') or ''}}</td>
			</tr>	
			<tr style="font-size: 16px"><td></td>
				<td style="font-weight: bold;">{{ _("INVOICE NO") }}</td>
				<td style="text-align: center;">:</td>
				<td style="text-align: right !important;">{{doc.name or ''}}</td>
			</tr>
		</table>			
	</div>
</div>
<div class="row"></div>
<div class="col-xs-12 ">
	<div class="row">
		<table  style="width:100%; margin-bottom: 2px;">
				<tr>
					<td style="width:50%;text-align: left; font-size: 16px;"><b>DESCRIPTION</b></td>
					<td colspan="2" style="width:50%;text-align: right;font-size: 16px;"><b>AMOUNT</b></td>
				</tr>
			{% for row in doc.items %}
				<tr>
					
					<td class="spaCe" style="width:50%;font-size: 16px;"><p>{{ row.item_name }}</p></td>
					<td colspan="2" class="text-right" style="width:50%;font-size: 16px;"><p>{{ row.get_formatted("amount", doc)  }}</p></td>
				</tr>
			{% endfor %}
		</table>
	</div>	
</div>

<div class="col-xs-12 text-left">
	<div class="row">
	<br>
		<table style="line-height: 20px; width: 100%">

			<tr>				
				<td style="font-size: 16px; font-weight: bold;">CASE DETAILS</td>
				<td></td>
				<td></td>
			</tr>
			<tr style="font-size: 16px;">
				<td style="width:39%" >{{ _("PATIENT") }}</td>
				<td style="width:1%">:</td>
				<td style="width:60%"">{{ frappe.db.get_value("Patient", doc.patient, "name") or ''}}</td>
			</tr>
			<tr style="font-size: 16px;">
				<td >{{ _("PATIENT NAME") }}</td>
				<td>:</td>
				<td>{{ frappe.db.get_value("Patient", doc.patient, "full_name") or ''}}</td>
			</tr>
			<tr style="font-size: 16px;">
				<td>{{ _("PATIENT CASE NO") }}</td>
				<td>:</td>
				<td>{{ frappe.db.get_value("Case", doc.case, "case_no") or ''}}</td>
			</tr>

			<tr style="font-size: 16px;">
				<td>{{ _("HOSPITAL / CLINIC") }}</td>
				<td>:</td>
				<td>{{ frappe.db.get_value("Case", doc.case, "hospital") or ''}} ({{ frappe.db.get_value("Case", doc.case, "department") or ''}})</td>
			</tr>

			<tr style="font-size: 16px;">
				<td> ANAESTHETIST </td>
				<td>:</td>
				<td>Dr. {{ frappe.db.get_value("Case", doc.case, "doctor") or ''}}</td>
			</tr>

			<tr style="font-size: 16px;">
				<td>{{ _("SURGEON ") }}</td>
				<td>:</td>
				<td>Dr. {{ frappe.db.get_value("Case", doc.case, "surgeon") or ''}}</td>
			</tr>
			{% set case = frappe.get_doc("Case", doc.case) %}
			{%- if case.surgeon_1  -%}
			<tr style="font-size: 16px;">
				<td></td>
				<td></td>
				<td>Dr. {{ case.surgeon_1 or ''}}</td>
			</tr>
			{%- endif -%}
			{%- if case.surgeon_2  -%}
			<tr style="font-size: 16px;">
				<td></td>
				<td></td>
				<td>Dr. {{ case.surgeon_2 or '' }}</td>
			</tr>
			{%- endif -%}
			<tr style="font-size: 16px;">
				<td>{{ _("OPERATION /MANAGEMENT") }}</td>
				<td>:</td>
				<td>{{ frappe.db.get_value("Case", doc.case, "operation_type") or ''}}</td>
			</tr>
			<tr style="font-size: 16px;">
				<td></td>
				<td></td>
				<td>{{ frappe.db.get_value("Case", doc.case, "additional_info") or ''}}</td>
			</tr>
            <tr style="font-size: 16px;">
				<td>{{ _("OPERATION DATE") }}</td>
				<td>:</td>
				<td class="upper">{{ frappe.db.get_value("Case", doc.case, "appointment_date").strftime('%d %b %Y') or ''}}</td>
			</tr>

			<tr>				
				<td style="font-size: 16px;">NOTES</td>
				<td>:</td>
				<td>{{ frappe.db.get_value("Case", doc.case, "note") or ''}}</td><br><br><br>
			</tr>
<!-- 			<tr>
				<td>{{ _("INVOICE NO") }}</td>
				<td>:</td>
				<td>{{doc.name or ''}}</td>
			</tr> -->
		</table>   
	</div>
</div>
<br><br><br>
<hr style=" border: 2px solid #808080 !important; ">
<br><br>
<div class="row">
	<div class="col-xs-6 text-left">
	</div>
	
	<div class="col-xs-6 text-left">
		<div >
			<table style="line-height: 25px; width: 100%;">
				<tr >
				<td style="width: 69%; text-align: right; font-size: 16px;" ><b>{{ _("SUBTOTAL") }}</b></td>

				<td style=" width: 70%; text-align: right;font-size: 16px; padding-right: 0px !important;"><b>$</b></td>

				<td style=" width: 35%; text-align: right;font-size: 16px; padding-right: 0px !important; margin-left: 0px;"><b>{{ doc.get_formatted("total")|replace("$","") }}</b></td>
				</tr>
			 	{%- for row in doc.taxes -%}
			 	{%- if not row.included_in_print_rate -%}
 		     	{%- if row.tax_amount -%}  
				<tr>
					<!-- <td></td> -->
					<td style="text-align: right;font-size: 16px;"><b>{{ row.description }} (7%)</b></td>

					<td style="text-align: right;font-size: 16px; padding-right: 0px !important;"><b>$</b></td>

					<td style=" text-align: right; padding-right: 0px !important; margin-left: 0px; font-size: 16px;"><b>{{ row.get_formatted("tax_amount", doc)|replace("$","") }}</b></td>
					
				</tr>
			 	{%- endif -%}
		     	{%- endif -%}
			 	{%- endfor -%}

				<tr>
					<!-- <td></td> -->
					<td style="text-align: right; font-size: 16px;"><b>{{ _("NET AMOUNT DUE") }}</b></td>

					<td style="  text-align: right;font-size: 16px; padding-right: 0px !important;"><b>$</b></td>

					<td style="text-align: right;font-size: 16px; padding-right: 0px !important; margin-left: 0px;"><b>{{ doc.get_formatted("grand_total")|replace("$","") }}</b></td>
				</tr>
			</table>
	   	</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<footer>

	<div class=" row col-xs-12 text-center">
		<p style="font-size: 14px;">{{ _("PLEASE MAKE CROSSED CHEQUE PAYABLE WITHIN 14 DAYS TO") }}&nbsp;&nbsp;<span><b>{{ doc.company }}</b></span></p>
		<P style="font-size: 14px;">{{ _("PLEASE QUOTE INVOICE NO. ON REVERSE SIDE OF CHEQUE") }}</P>
	</div>
</footer>
<!-- <div class="row col-xs-12 text-center"> 
				<p style="font-size: 14px;"><b>{{ _("E & O.E") }}</b></p>	
</div> -->
